.sign-up-grid {
  display: flex;
  justify-content: space-around;
  margin-top: 70px;
  width: 100%;

  @media(max-width: 1000px) {
    flex-direction: column-reverse;
    align-items: center;
  }

  .sign-up-left {
    display: flex;
    flex-direction: column;
    width: 50%;

    @media(max-width: 1000px) {
      width: 70%;
      text-align: center;
    }

    
  }
  
  .message {
    width: 70%;
  
    color: white;
    font-size: 30px;
    line-height: 45px;

    @media (max-width: 1000px) {
      color: black;
      width: 100%;
      margin-top: 30px;
    }

    @media(max-width: 500px) {
      font-size: 20px;
      line-height: 30px;
    }
  }
  
  .benefits {
    font-size: 25px;
    margin: 40px 0px;
    width: 70%;

    @media(max-width: 1000px) {
      width: 100%;
    }

    @media(max-width: 500px) {
      font-size: 15px;
    }

    .benefit {
      display: flex;
      align-items: center;

    .check-icon {
        width: 25px;
        height: 19px;
      }

    p {
        margin-left: 20px;

        @media(max-width: 500px) {
          margin-left: 10px;;
        }
      }
    }
    
  }


  h2 {
    margin: 0px;
  }
  
  .sign-up {
    background-color: #FAF3EC;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 60px;
    box-shadow: 0px 1px 8px rgba(163, 163, 163, 0.404);

    @media (max-width:1000px) {
      width: 90%;
      padding: 40px 0px;
    }
    a {
      text-decoration: none;
      color: #0A425C;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .sign-up-form {
    width: 100%;
    text-align: center;
  }

  .custom-button {
    padding: 10px 30px;
    height: 40px;
    border-radius: 20px;

    
  }

}
