.homepage {
  background-color: #023A53;
  .first-tile {
    height: calc(100vh - 115px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;

    h1 {
      width: 90%;
      letter-spacing: 2px;
      line-height: 45px;
    }

    a {
      button {
        font-family: 'Libre Baskerville', serif;
        font-size: 18px;
        width: 400px;
        height: 50px;
        border-radius: 50px;
        background-color: white;
        border: none;
        outline: none;
        text-align: center;
        margin-top: 50px;
  
        @media(max-width: 900px) {
          width: 300px;
        }
  
        &:hover{
          cursor: pointer;
          background-color: lightgray;
          color: black;
        }
      }
    }


  }
}