.homepage {
  background-color: #023A53;
  .first-tile {
    height: calc(100vh - 115px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;

    h1 {
      // margin: auto auto;
      width: 90%;
      letter-spacing: 2px;
      line-height: 45px;
    }

    button {
      font-family: 'Libre Baskerville', serif;
      width: 20%;
      height: 40px;
      border-radius: 20px;
      background-color: white;
      border: none;
      outline: none;
      text-align: center;
      margin-top: 50px;

      a {
        text-decoration: none;
       color: black;
      }

      @media(max-width: 900px) {
        width: 40%;
      }

      &:hover{
        cursor: pointer;
        background-color: lightgray;
        color: black;
      }
    }

  }

  .second-tile {
    height: 100vh;
    background-color: #FAF3EC;
    padding-top: 40px;

    h1 {
      margin: 0px 0px 0px 33px;
      width: 50%;
      letter-spacing: 2px;
      line-height: 45px;
      color: #656565;
    }
  }
  .third-tile {
    height: 100vh;
    padding-top: 40px;
    h1 {
      margin: 0px 0px 0px 33px;
      width: 50%;
      letter-spacing: 2px;
      line-height: 45px;
    }

  }
}